<h1>Game <%= @id %></h1>

<div id="board">
  <div class="row">
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
  </div>

  <div class="row">
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
  </div>

  <div class="row">
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
  </div>

  <div class="row">
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
  </div>

  <div class="row">
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
  </div>

  <div class="row">
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
  </div>

  <div class="row">
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
  </div>

  <div class="row">
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
    <div class="wh"></div>
    <div class="bl"></div>
  </div>
</div>
